.tiles{
	font-size:0;
	max-width:1180px;
	margin: 0 auto;
	width:calc(100% - 40px); 
	div{
		display: inline-block;
		width: 295px;
		height:885px;
		vertical-align: top;

		.big{
			width:295px;
			height:590px;
			display:inline-block;
			font-size:20px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			&:hover{
				transform:scale(1.1);
			}

		}

		.small{
			width:295px;
			height:295px;
			display:inline-block;
			font-size:20px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			&:hover{
				transform:scale(1.1);
			}

		}
		.grey60{
			background:#999999;
		}
		.grey55{
			background:#8c8c8c;
		}
		.grey{
			background:grey;
		}
		.grey45{
			background:#737373;
		}
		.green{
			background:green;
		}

		.info{
			max-width: 210px;
			width: 100%;
			margin: 0 auto 0 auto;
			text-align:center;
			position:relative;
			top: 50%;
			transform:translateY(-50%);	
		}


		em{
			font-size: 14px;
			line-height: 1.6;
			color: #f2f2f2;
			display:block;
		}

		h1{
			margin-bottom:15px;
			font-size: 30px;
			text-transform: uppercase;
			color: #f2f2f2;
		}

		h2{
			margin-top:15px;
			font-size: 15px;
			text-transform: uppercase;
			color: #f2f2f2;
			font-style: italic;

		}

		i{
			font-size:40px;
			color:#f2f2f2;
		}

		p{
			font-size: 15px;
			margin-top:15px;
			color:#f2f2f2;
		}
		.icon{
			max-width: 190px;
			height:40px;
			width: 100%;
			text-align:center;
			position:relative;
			&:before{
				position:absolute;
				width:50px;
				content:'';
				height:1px;
				background: #f2f2f2;
				left:0;
				top:50%;
			}
			&:after{
				position:absolute;
				width:50px;
				content:'';
				height:1px;
				background: #f2f2f2;
				top:50%;
				right:0;
			}	
		}
	}

	@include mq(600px,1220px){
		max-width:590px;
		width:calc(100% - 40px);
	}

	@include mq(0, 630px){
		max-width: 295px;
		width:calc(100% - 20px);
	}
	.popUp{
		display:none;
		width:100%;
		height:100%;
		background-color: rgba(0, 128, 0, 0.8);
		z-index:9998;
		position:fixed;
		top:0;
		left:0;
			.window{
				position:relative;
				margin: 5% auto;
				max-width:100%;
				display:block;
				.closebtn{
					position:absolute;
					font-size: 50px;
					color:white;
					top:0%;
					left:85%;
					z-index:9999;
					cursor:pointer;
					text-align: center;
					height: 40px;
    				width: 40px;
    				font-weight:bold;
    				text-shadow: 0px 0px 7px #323334;

				}
			}

			
			.big{
				display:block;
				&:hover{
					transform:scale(1);		
				}
			}
			.small{
				display:block;
				&:hover{
					transform:scale(1);		
				}

			}
			@include mq(0,1220px){
				.window{
					margin:12% auto;
				}			
			}
	}
}
